/* ************************************* */
/* styles from Project.template          */
/* ************************************* */

/* Project list */
.projectlistframe
{
	margin-top: 0.4em;
}
.projectlistframe h3, .projectframe h3
{
	margin: 0;
}
table.projectsframe
{
	width: 100%;
}
table.projectsframe td.icon
{
	text-align: center;
	padding: 0.5em;
	width: 6%;
}
table.projectsframe td.info
{
	width: 60%;
	padding: 0;
}
table.projectsframe td.info h4
{
	padding: 0.4em 0.4em 0 0.4em;
	margin: 0;
}
table.projectsframe td.info p
{
	padding: 0 0.4em 0.5em 0.4em;
	margin: 0;
}
table.projectsframe td.stats
{
	width: 8%;
	vertical-align: middle;
	text-align: center;
}
table.projectsframe td.lastissue
{
	padding: 0.4em;
	width: 20%;
}

/* Status colors */
.issue_new
{
	background-color: #FFCCCC;
}
.issue_feedback
{
	background-color: #FF50A8;
}
.issue_confirmed
{
	background-color: #FFFFB0;
}
.issue_assigned
{
	background-color: #C8C8FF;
}
.issue_resolved
{
	background-color: #CCFFCC;
}
.issue_closed
{
	background-color: #E8E8E8;
}

/* ************************************* */
/* styles from ProjectView.template      */
/* ************************************* */

.issuecolumn
{
	float: left;
	width: 50%;
	margin-bottom: 15px;
}
.columnmargin_left
{
	margin-left: 5px;
}
.columnmargin_right
{
	margin-right: 5px;
}

/* Frame for Project info page*/
.projectframe
{
	margin-top: 2em;
	clear: both;
}
.projectframe_section
{
	clear: both;
}
.projectframe_section p.section
{
	display: block;
	margin: 0;
	width: 3%;
	text-align: center;
	float: left;
	padding: 0.5em 0 0 0;
}
.projectframe_section p.section_full
{
	display: block;
	margin: 0;
	padding: 0.3em;
	width: 100%;
}
.projectframe_section div.sectionbody
{
	margin-left: 3%;
	padding: 0.3em;
	border-left: solid #a0a0a0 1px;
}
.projectframe_section div.timeline
{
	margin-left: 3%;
	border-left: solid #a0a0a0 1px;
}
.projectframe_section div.timeline h5
{
	padding: 0.5em;
	border-top: solid #a0a0a0 1px;
	border-bottom: solid #a0a0a0 1px;
}
.projectframe_section div.timeline h5.first
{
	border-top: 0;
}
.projectframe_section div.timeline ul
{
	padding: 0.5em 1em;
}

/* */
.expl
{
}
.expl span
{
	padding: 3px 5px;
	display: block;
}

/* Progress bar */
.progressbar
{
	border: 1px solid #5294de;
	padding: 0.1em;
}
.progressbar div
{
	height: 0.8em;
	background: #5294de;;
}

/* ************************************* */
/* styles from IssueList.template        */
/* ************************************* */

/* Issue list */
.issuelistframe
{
	margin-top: 0;
}
.issuelistframe h3
{
	margin: 0;
}
table.issuetable
{
	width: 100%;
}
table.issuetable td.icon
{
	text-align: center;
	padding: 0.5em;
	width: 20px;
}
table.issuetable td.info
{
	width: 40%;
	padding: 0;
}
table.issuetable td.info h4
{
	padding: 0.4em 0.4em 0 0.4em;
	margin: 0;
}
table.issuetable td.info p
{
	padding: 0 0.4em 0.5em 0.4em;
	margin: 0;
}
table.issuetable td.replies, table.issuetable td.status, table.issuetable td.version
{
	width: 5%;
	text-align: center;
	padding: 0.4em;
}
table.issuetable td.lastissue
{
	padding: 0.4em;
}

/* ************************************* */
/* styles from IssueView.template        */
/* ************************************* */
#firstcomment
{
	width: 78%;
}
#firstcomment h3.catbg3
{
	padding: 0.4em;
}
#firstcomment h3.catbg3 img
{
	vertical-align: middle;
}
#firstcomment h3.catbg3 span
{
	padding-left: 2%;
}

.issueinfoframe h3
{
	margin: 0;
}
#issueinfo
{
	width: 21%;
}
#issueinfo .dark
{
	color: grey;
	font-weight: bold;
}
#issueinfot ul.details
{
	list-style: none;
	margin: 0;
	padding: 0;
}
#issueinfot ul.details li
{
	border: 1px solid transparent;
	margin: 1px 2.5px;
}
#issueinfot li.canedit:hover, #issueinfot li.selected
{
	border: 1px solid black !important;
	background: white;
}
#issueinfot li.selected dl
{
}
#issueinfot li.selected ul.options
{
	display: block;
}
#issueinfot dt
{
	margin: 0;
	margin-right: 5px;
	padding: 1px 2.5px;
	float: left;
	color: grey;
	font-weight: bold;
}
#issueinfot dd
{
	float: left;
	margin: 0;
	padding: 1px 2.5px;
}
#issueinfot li.canedit dd.button
{
	width: 9px;
	height: 1.6em;
	float: right;
	background: url(../images/pdropdown.gif) no-repeat center center;
}
#issueinfot ul.options
{
	border: 1px solid black;
	border-top: 0;
	background: white;
	display: none;
	position: absolute;
	width: 25em;
	margin: -1px;
}
#issueinfot ul.options li
{
	border: 0;
	margin: 0;
	padding: 1px 2.5px;
}
#issueinfot ul.options li a
{
	color: black;
	display: block;
}
#issueinfot li ul li a:hover
{
	text-decoration: none;
}
#issueinfot li ul li:hover
{
	background: #3399ff;
}

#comment
{
	width: 95%;
	height: 100px;
}

/* ************************************* */
/* styles from IssueReport.template      */
/* ************************************* */
#reportissue
{
}
#reportform
{
}
#reportform dl
{
	padding: 5px;
	margin: 0;
}
#reportform dt, #reportform dd
{
	margin: 0;
	padding: 3px 0px;
}
#reportform dt
{
	float: left;
	width: 15%;
	font-weight: bold;
	text-align: right;
}
#reportform dd
{
	margin-left: 16%;
}
#reportform dd.full
{
	margin-left: 0;
	width: 100%;
}
#reportform dd.clear
{
	float: none;
	clear: both;
}

.center
{
	text-align: center;
}